body {
  margin: auto;
  text-align: center;
}

#imgContainer {
  width: 800px;
  height: 600px;
  background-image: url('./src/img1.jpg');
  background-size: cover;
  border: 12px solid rgb(211, 219, 226);
  border-radius: 6px;
  position: relative;
  margin: auto;
  top: 20px;
}

.buttons {
  position: relative;
  margin: auto;
  top: 30px;
  width: 400px;
  height: 50px;
  border: 2px solid rgb(220, 226, 228);
  border-radius: 8px;
  background-color: rgb(251, 251, 251)
}

button {
  width: 70px;
  height: 40px;
  opacity: 0.8;
  font-size: 26px;
  border-radius: 4px;
  color: dimgrey;
  outline: none;
  position: absolute;
}

button:hover {
  background-color: rgb(238, 238, 238);

}



#play {
  position: relative;
  right: 150px;
  top: 4.5px;
}

#pause {
  left: 100px;
  top: 4.5px;
}

#prev {
  right: 100px;
  top: 4.5px;
}

#next {
  right: 15px;
  top: 4.5px;
}
